# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caching directories
.cache/
.cached_static_files/
.coverage
htmlcov/
dist/
build/
*.egg-info/

# Virtual environment
venv/
env/
ENV/

# IDE/Text editor specific files
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Database
db.sqlite3

# Static files
staticfiles/

# Media files
media/

# Secret keys
*.key

# Logs
logs/

# Compiled Python files
*.pyc
*.pyo

# macOS
.DS_Store

# Windows
Thumbs.db
