.catalog {
    &__content {
        &-wrapper {
            display: grid;
            margin-top: 36px;
            grid-template-columns: auto 250px;
            gap: 25px;
            padding-bottom: 50px;
        }
    }
    &__more {
        span {
            font-size: 14px;
            color: #072551;
        }
        &-content {
            margin-top: 15px;
            display: grid;
            gap: 10px;
        }
        &-item {
            height: 140px;
            background-color: rgba(10, 108, 255, 0.1);
            border-radius: 10px;
            padding: 10px;
            display: flex;
            align-items: end;
            p {
                color: rgba(7, 37, 81, 0.5);
                font-size: 16px;
            }
            &:hover {
                cursor: pointer;
            }
        }
    }
}